body{
/** To edit this background, follow this link:
http://svgeneration.com/generate/Gridiron?grid-color=000011&grid-size=25&grid-width=.5&gradient-x=50&gradient-y=50&gradient-radius=60&gradient-inner=2b2b2b&gradient-outer=222222&
*/
background-color: #2b2b2b;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgoJPGRlZnM+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgaWQ9J2MnIHdpZHRoPSczNy41JyBoZWlnaHQ9JzI1JyB4PScwJyB5PScwJyB2aWV3Qm94PScwIDAgMzAgMjAnPgoJCQk8cGF0aCBkPSdNMCwxMGg1bDUsLTEwaDEwbDUsMTBoNW0tNSwwbC01LDEwaC0xMGwtNSwtMTAnIHN0cm9rZT0nIzAwMDAxMScgc3Ryb2tlLXdpZHRoPScuNScgZmlsbC1vcGFjaXR5PScwJyAvPgoJCTwvcGF0dGVybj4KCQk8cmFkaWFsR3JhZGllbnQgaWQ9J2cnIGdyYWRpZW50VW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBjeD0nNTAlJyBjeT0nNTAlJyByPSc2MCUnIGZ4PScyNiUnIGZ5PSczMiUnPgoJCQk8c3RvcCBvZmZzZXQ9JzAlJyBzdG9wLW9wYWNpdHk9JzAnIHN0b3AtY29sb3I9JyMyYjJiMmInIC8+CgkJCTxzdG9wIG9mZnNldD0nMTAwJScgc3RvcC1vcGFjaXR5PScuOScgc3RvcC1jb2xvcj0nIzIyMjIyMicgLz4KCQk8L3JhZGlhbEdyYWRpZW50PgoJPC9kZWZzPgoJPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsbD0ndXJsKCNjKScvPgoJPHJlY3Qgd2lkdGg9JzEyMCUnIHg9Jy0xMCUnIHk9Jy0xMCUnIGhlaWdodD0nMTIwJScgZmlsbD0ndXJsKCNnKScvPgo8L3N2Zz4=');

	height: 100%;
	width:100%;
	padding:0;
	margin:0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#inkeeper{
	transition: 0.3s all ease;
}
#character-list{
	list-style-type: none;
	margin:0;
}
.character legend{
	border-radius:4px;
	background:rgba(255,255,255,0.75);
	margin-left:20px;
	font-weight:normal;
	font-size:larger;
}
.character fieldset{
	padding:10px;
	border:2px solid rgba(100,100,100, 0.66);
	border-radius:4px;
}
.character .label{
	font-size:larger;
}
.character .init-text{
	color:white;
	font-size:larger;
}
.character .button{
	padding-top:8px;
	padding-bottom:8px;
	font-weight:normal;
}
.character p, .character button{
	margin-bottom:5px;
}
.character .player-background{
	background-color:rgba(0, 0, 116, 0.5);
}
.character .enemy-background{
	background-color:rgba(116, 0, 0, 0.5);
}
.character .edit-mode span{
	font-size:larger;
	color:white;
}