body{
	height: 100%;
	width:100%;
	padding:0;
	margin:0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#inkeeper{
	transition: 0.3s all ease;
}
#character-list{
	list-style-type: none;
	margin:0;
}
.character legend{
	border-radius:4px;
	background:rgba(255,255,255,0.75);
	margin-left:20px;
	font-weight:normal;
	font-size:larger;
}
.character fieldset{
	padding:10px;
	border:2px solid rgba(100,100,100, 0.66);
	border-radius:4px;
}
.character .label{
	font-size:larger;
}
.character .init-text{
	color:white;
	font-size:larger;
}
.character .button{
	padding-top:8px;
	padding-bottom:8px;
	font-weight:normal;
}
.character p, .character button{
	margin-bottom:5px;
}
.character .player-background{
	background-color:rgba(0, 0, 116, 0.5);
}
.character .enemy-background{
	background-color:rgba(116, 0, 0, 0.5);
}
.character .edit-mode span{
	font-size:larger;
	color:white;
}