<!doctype html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>IKC</title>
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/base.css">

</head>
<body>
	<div class='row'>
		<div id='inkeeper'>
			<div class='small-12 columns'>
				<h3 class='heading'>InKeeperCell v 0.2</h3>
			</div>

			<div class='controls small-12 columns'>
				<button class='button small' id='add-character'>Add</button>
				<button class='button small' id='roll-initiatives'>Roll</button>
			</div>
			<div class='small-12 columns'>
				<ul id='character-list'>
			
				</ul>
			</div>
		</div>
	</div>

	<script type="text/template" id='character-template'>
		<form class='character' onsubmit='return false;'>
			<fieldset>
				<legend>
					<span class='name'><%- name %></p>
				</legend>
				<div class='read-mode'>
					<p class='init'>Init: <%- init %></p>
					<p class='initBonus'>Bonus: <%- initBonus %></p>
					<button class='remove button tiny'>Remove</button>
					<button class='edit button tiny'>Edit</button>
					<button class='clone button tiny'>Clone</button>
				</div>
				<div class='edit-mode hide'>
					<input type='text' class='name-input' placeholder='name'/>
					<input type='text' class='init-input' placeholder='init-bonus'/>
					<span>Enemy</span>
					<input type='checkbox' class='enemy-checkbox' checked/>
					<br/>
					<button class='save button tiny'>Save</button>
					<button class='cancel button tiny'>Cancel</button>
				</div>
			</fieldset>
		</div>
	</script>

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone.min.js"></script>
	<script src="js/lib/backbone.localStorage.min.js"></script> 
	<script src="js/models/character.js"></script>
	<script src="js/diceroller.js"></script>
	<script src="js/rulesystem.js"></script>
	<script src="js/collections/characters.js"></script>
	<script src="js/views/characters.js"></script>
	<script src="js/views/app.js"></script>
	<script src="js/app.js"></script>


</body>
</html>